<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/normalize.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/skeleton.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>

<body>
    {% include header.html %}

    <div class="section">
        {% assign slash_count = page.dir | split: '/' | size | minus: 1 %}
        {% if slash_count > 1 %}
        <div class="container">
            {% endif %}
            {{ content }}

            {% if page.tags and page.dir != "/tags/" %}
            <div class="tags">
                <p><a href="/tags/">Tags</a></p>
                <ul>
                    {% for tag in page.tags %}
                    <li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if slash_count > 1 %}
        </div>
        {% endif %}
    </div>

    {% include footer.html %}
</body>

</html>